h1 {
  color :  #4d4de0;
  text-align : center;
  margin : 50px auto;
  
}
body {
  background-color : #3dc2f2;
}
.App {
  background-color : #6ef2c2;
  width : 1000px;
  margin : 40px auto;
}
#todolist input {
  background-color : #dbff99;
  height : 50px;
  width : 800px;
  margin : 30px;
  border : 0;
  padding : 0 20px;
  font-size : 18px;
}
#todolist input::placeholder {
  color : #8080cc;
  text-align : center;
}
#todolist input:focus,#todolist button:focus{
  outline : none;
}
#todolist button {
  background-color : #dbff99;
  height : 50px;
  width : 60px;
  font-size : 18px;
  border :0;
  cursor : pointer;
  color : #8080cc;
  font-weight : bolder;
}