.list {
    color : #4d4de0;
    width : 1000px;
    background-color : #3dc2f2;
    height : 50px;
    text-align : center;
}
.list p {
    padding : 10px;
    position : relative;
}
.list p span {
    position : absolute;
    right : 65px;
    cursor : pointer;
}
.faicons {
    margin : 0 5px;
    font-size : 15px;
}
.list p input {
    background-color : transparent;
    border : 0;
    color :#4d4de0;
    font-size : 18px;
}
.list p input:focus {
    outline : none;
}